<!DOCTYPE html>
<body>
    <h2>SignUp</h2>
    
    <br>
    <br>
    <br>
    <h5> * indicates that this field is required</h5>
    <form method="post" action="/user/signup">
        <label for="">Username*</label>
            <input type="text" name="username" id="username" onkeydown="moveToNextField(event,'email')">
            <br>
            <br>
            <br>
            <label for="">Email*</label>
            <input type="email" name="email" id="email" onkeydown="moveToNextField(event,'password')">
            <br>
            <br>
            <br>
            <label for="">Password*</label>
            <input type="password" name="password" id="">
            <br>
            <br>
            <button type="submit"> SignUp </button>

    </form>
    <script>
        function moveToNextField(event,nextFieldID){
            if(event.key === "Enter"){
                event.preventDefault();
                document.getElementById(nextFieldID).focus()
            }
        }
    </script>
    <br>

    <p>Already have an account?👉</p>
    <a href="/signin"> SignIn </a>
    <br>
</body>
</html>